
html {
    height: 100%;
}

body { 
    background-color: [% site.col.page %];
    color: [% site.col.text %];
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#header {
    background-color: [% site.col.head %];
    border-bottom: 1px solid [% site.col.line %];
}

#status_bar{
  clear: both;
  padding-left: 10px;
}

#footer {
    background-color: [% site.col.head %];
    text-align: center;
    border-top: 1px solid [% site.col.line %];
    width: 100%;
    padding: 4px;
}

#content {
    padding: 10px;
}

#results{
  margin: 10px;
}

h1,h2,h3,h4,h5{
  font-family: Verdana, Helvetica, Ariel, sans-serif;
}

h1.title {
    font-family: Verdana, Helvetica, Ariel, sans-serif;
    padding: 4px;
    margin: 0px;
}

.message {
    color: [% site.col.message %];
}

.error {
    color: [% site.col.error %];
}

.warning{
   color: [% site.col.warning %];
}

.highlight{ 
 color: [% site.col.highlight %]; 
 font-weight: bold;
} 

.big_text{
  font-size: 200%;
}

.ajax_link{
   font-family: sans-serif;
   font-size: small;  
   font-style: italic;
   padding-right: 1em;
}

.ajax_link_list{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-left: 1px solid [%site.col.form_border%];   
  border-right: 1px solid [%site.col.form_border%];
}

.force_clear{ 
  clear:both;
 }

/********* FORMS ****************/

fieldset { 
  font-family: sans-serif; 
  font-size: 14px; 
  padding: 15px; 
  border: 1px solid [%site.col.form_border%];   
}

legend {  
  color: [% site.col.form_legend %]; 
  font-size: 120%;
}
 
.labelled_input {
   border-top: 1px dashed [% site.col.form_divider%];
   border-bottom: 1px dashed [% site.col.form_divider%];
   padding: 10px; 
   clear:both;
}


label {
  float:left; 
  width: 20em;
  color: [%  site.col.form_label%]
}

.details {
  font-size: 80%;
}

.radio_list{
  margin-left: 10em;
}

.checkbox_list{
  margin-left: 10em;
}

.button {
  margin-top: 2em; 
  background-color: [% site.col.button %]; 
  color: [% site.col.button_text %]; 
  border-bottom: 2px solid  [% site.col.button_border %]; border-right: 2px solid  [% site.col.button_border %];
  border-top: 2px solid white; border-left: 2px solid white; 
  font-weight:bold;
  margin-bottom:0;
  clear: both;
  cursor: pointer !important;
}

.button:hover{
  background-color: [% site.col.button_text %];
  color: [% site.col.button %];
  border-top: 2px solid  [% site.col.button_border %]; border-left: 2px solid  [% site.col.button_border %];
  border-bottom: 2px solid white; border-right: 2px solid white;
}


#dfv_error{
  padding: 5px;
}

#dfv_error .name{
  width: 200px;
  float: left;
  color: [% site.col.error %]
}


/* ***************** menu ******************* */

#nav{
  height: 75px;
  padding-top: 10px;
  background: [% site.col.nav  %];
}

#nav ul {
  list-style: none;
  line-height: 1;
  padding: 0;
  background: [% site.col.nav_dropdown %];
  border: 1px solid  [% site.col.nav_border %];
  border-width:  0;
  margin: 0 0 5px 0;
  width: 80%;
}


#nav a {
  display: block;
  text-align: center;
  color: [% site.col.nav_text %];
  width: 120px;
  text-decoration: none;
  padding: 5px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: small; 
}

#nav ul ul a {padding-bottom: 5px;}

#nav a.inactive{ color: [% site.col.nav_inactive %]; }

#nav li ul a.dropdown {
  background: url(/right_arrow.gif) right no-repeat;
}
	

#nav li {
  float: left;
  padding: 0;
  width: 130px;
}

#nav li ul {
        position: absolute;
        left: -999em;
        height: auto;
        width: 130px;
        font-weight: normal;
        border-width: 1px;
        margin: 0;
}

#nav li li {
        width: 130px;
}

#nav li ul a {
        width: 120px;
}

#nav li ul ul {
        margin: -1.5em 0 0 130px;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
        left: -999em;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
        left: auto;
        border: 1px dashed [%site.col.nav_over_border%];
}

#nav li:hover, #nav li.sfhover {
        background-color:  [% site.col.nav_over %];
}


/******* script.aculo.us ***************************/



    div.autocomplete {
      position:absolute;
      background-color:[%site.col.autocomplete_bg%];
      border: 1px dashed [%site.col.autocomplete_border%];
      margin:0px;
      padding:0px;
    }
    div.autocomplete ul {
      list-style-type:none;
      margin:0px;
      padding:0px;
    }
    div.autocomplete ul li.selected { background-color: [%site.col.autocomplete_select%] }
    div.autocomplete ul li {
      list-style-type:none;
      display:block;
      margin:0;
      padding:2px;
      cursor:pointer;
    }
    div.autocomplete ul li span {
      font-size: 70%;
      font-color: [% site.col.lowlight %]
    }



/******************** dir_list ************************/
.dir_list{
  border: 1px solid [%site.col.form_border%];
  margin-top:1em;
  padding:1em;
  
}

.dir_list ul{
  border-left: 1px solid [%site.col.form_border%]
}

.dir_list li{
  list-style: none;
  padding:0 
  margin: 0;
  margin-left: 1em;
  width: 10em;
}

.dir_list li a{
  width: 10em;
}

.dir_list li span{
  width: 10em;
  border: 1px solid green;
}

.toggle{
 background-image: url(folder.png);
 background-repeat: no-repeat;
 background-position: 0 0;
 padding-left: 25px;
 cursor: pointer;
 margin-bottom: .5em;
 margin-top: .5em;
}


.delete_img{
  border: 0;	
  cursor:pointer;
}


/***************** UploadProgress *********************/

.progressmeter {
    font-family: Arial;
    font-size: 10pt;
    text-align: center;
}

.progressmeter table {
}

.progressmeter th {
    font-weight: bold;
    text-align: right;
}

.progressmeter td {
    text-align: left;
}

.finished {
    color: #667799;
}

.progressmeter .meter {
    position: relative;
    background-color: lightgrey;
    border: 2px solid #667799;
    height: 20px;
    width: 380px;
}

.progressmeter .meter .amount {
    background-color: #667799;
    width: 0px;
    height: 20px
}

.progressmeter .meter .percent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    z-index: 1000;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

/******* Datafile Page ***************/
#selected_datafiles h1{
   font-size: 150%;
   font-weight: bold;
}



#list_datafiles h1{
  font-size: 150%;
  font-weight: bold;
}

#list_datafiles img{
  padding: 40px;
}

#selected_datafiles table{
  border: 1px solid [%site.col.form_border%];
  margin: 10px;
  padding: 10px;
  text-align: left;
  font-size: 90%;
}

#selected_datafiles th{
  color: [%site.col.form_title%];
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 10px;
}

#selected_datafiles .datafile_name{
  font-size: 120%;
  color: [% site.col.highlight%]
}

#selected_datafiles td{
  font-family: sans-serif;
}

#delete_selected_datafiles{
  padding-bottom : 30px;
  padding-left: 10px;
}

#datafile_links{
  padding: 10px;
  padding-top: 40px;  
  padding-bottom: 40px;
}

#datafile_links .ajax_link{
   font-size: 110%;
   font-weight: bold;
   font-family: sans-serif;
   text-decoration: underline;
   color: [%site.col.highlight%];
   padding: 10px;
}


/************** Metadata Page *****************/


#factor_list{
  clear:both;
}

#cont_var_list{
  clear:both;
}


.draggable_text { 
  border: 1px dashed blue;
  padding-left: 3px;
  padding-right: 3px;
  font-size: small;
  font-style: italic;
  font-family: sans-serif;
  cursor: move;
} 

.dropbox{
  float:left;
  margin: 10px;
  padding: 10px;
} 

.dropbox_text{
  color: [% site.col.highlight %];
  font-family: sans-serif;
  font-size: 80%;  
}


.dropbox_box { 
  font-family: sans-serif;
  font-size: 75%;
  font-style: italic;
  text-align: left;
  color: [% site.col.warning %]; 
  border: 1px solid [%site.col.form_border%];
  min-height: 50px;
  height: auto !important;
  height: 50px;
  min-width:150px;
  width: auto !important;
  width: 150px;
  padding: 2px;
} 



/********* Jobs page ***************/

.queued_job {
  margin-bottom: 20px;
}

.queued_job th{
  text-align: left;
  padding-right: 20px;
}

